

.counter_item {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    height: 200px;
    width: 200px;
    justify-content: center;
    border-radius: 50%;
}

.icon {
    font-size: 60px;
}
.counter_number{
    font-size: 30px;
}
.counter_title{
    font-size: 20px;
}
@media (max-width: 768px){
    .counter_item{
      
        margin: 15px 0;
    }
    .counter{
        flex-direction: column;
    }
   
}